/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 100px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #fcf8f8;
}
.logo-container {
  height: 100px;
  width: 200px;
}
.logo-container img {
  height: 100px;
  width: 199px;
  z-index: -1;
  padding: 2px;
}
.nav-items {
  height: 100px;
  width: 85%;
}
.ull {
  text-align: end;
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}
.loginbutton {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 0.5rem;
}
/* .search {
  margin: 30px;
} */

.RestaurentCard {
  height: 300px;
  width: 220px;
  background-color: rgb(248, 243, 243);
  margin-bottom: 50px;
}
.container-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.RestaurentCard:hover {
  border: 1px solid black;
  cursor: pointer;
}

.img-container-res-card2 {
  height: 120px;
  width: 217px;
  padding: 1px;
}
.res-name-container {
  font-size: 15px;
  padding-top: 15px;
}
.foods {
  padding-top: 10px;
}
.Rating {
  padding-top: 10px;
}
.timeofdelivery {
  padding-top: 15px;
}
.filter-btn {
  cursor: pointer;
  height: 40px;
  width: 150px;
  margin-left: 50px;
}
.iambutton {
  padding-top: 0px;
  margin-top: 0px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-parent-div {
  height: 320px;
  width: 220px;
  margin: 20px 20px 40px 20px;
}
.shimmer-card {
  height: 300px;
  width: 200px;
  background-color: #b9b2b2;
}
.below-border {
  height: 10px;
  width: 200px;
  background-color: #b9b2b2;
  margin-top: 3px;
}
.below-borderr {
  height: 10px;
  width: 200px;
  background-color: #b9b2b2;
  margin-top: 3px;
}
.iambutton {
  display: flex;
  margin: 30px;
}
.search-fiter-button {
  margin-top: 3px;
}
.resmenu {
   
  height: auto;
    width: 800px;
  /* border: 1px solid black; */
   margin: auto;
}
.imgofresmenu {
  height: 150px;
  width: 250px;
  border-bottom: 1px solid black;
}

.sweets h3 {
  font-size: 20px;
  font-weight: 200;
}
.usercard {
  margin: 50px;
  padding: 20px;
  border: 1px solid black;
}
.higherorderlabeloncard{
  position: absolute;
  background: black;
  color: white;
  padding: 3px;
}
.namee  {
  text-align: center;
  
  font-size: 30px;
  font-weight: 900;
 
}
.pricee {
   text-align: center;
  
  font-size: 15px;
  font-weight: 400;
}
.titleheader{
  background-color: rgb(223, 214, 214);
  box-shadow: 1px;
  padding: 10px;
  text-align: center;
  
}