/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 100px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #fcf8f8;
}
.logo-container {
  height: 100px;
  width: 200px;
}
.logo-container img {
  height: 100px;
  width: 199px;
  z-index: -1;
  padding: 2px;
}
.nav-items {
  height: 100px;
  width: 85%;
}
.ull {
  text-align: end;
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}
.loginbutton {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 0.5rem;
}
/* .search {
  margin: 30px;
} */

.RestaurentCard {
  height: 300px;
  width: 220px;
  background-color: rgb(248, 243, 243);
  margin-bottom: 50px;
  border-radius: .5rem;
  
}
 
.container-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.RestaurentCard:hover {
  border: 1px solid black;
  cursor: pointer;
}

.img-container-res-card2 {
  height: 120px;
  width: 217px;
  padding: 1px;
  border-radius: .9rem;
}
.res-name-container {
  font-size: 15px;
  padding-top: 15px;
  color: black;
}
.foods {
  padding-top: 10px;
  color: black;
  text-decoration: none;
}
.Rating {
  padding-top: 10px;
  color: black;
}
.timeofdelivery {
  padding-top: 15px;
  color: black;
}
.filter-btn {
  cursor: pointer;
  height: 40px;
  width: 150px;
  margin-left: 50px;
}
.iambutton {
  padding-top: 0px;
  margin-top: 0px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-parent-div {
  height: 320px;
  width: 220px;
  margin: 20px 20px 40px 20px;
}
.shimmer-card {
  height: 300px;
  width: 200px;
  background-color: #b9b2b2;
}
.below-border {
  height: 10px;
  width: 200px;
  background-color: #b9b2b2;
  margin-top: 3px;
}
.below-borderr {
  height: 10px;
  width: 200px;
  background-color: #b9b2b2;
  margin-top: 3px;
}
.iambutton {
  display: flex;
  margin: 30px;
}
.search-fiter-button {
  margin-top: 3px;
}
.resmenu {
   
  height: auto;
    width: 800px;
  /* border: 1px solid black; */
   margin: auto;
}
.imgofresmenu {
  height: 150px;
  width: 250px;
  border-bottom: 1px solid black;
}

.sweets h3 {
  font-size: 20px;
  font-weight: 200;
}
.usercard {
  margin: 50px;
  padding: 20px;
  border: 1px solid black;
}
.higherorderlabeloncard{
  position: absolute;
  background: black;
  color: white;
  padding: 3px;
  border-radius: .5rem;
}
.namee  {
  text-align: center;
  
  font-size: 30px;
  font-weight: 900;
 
}
.pricee {
   text-align: center;
  
  font-size: 15px;
  font-weight: 400;
}
.titleheader{
  background-color: rgb(235, 235, 235);
  
  box-shadow: 5px 5px 5px 5px  rgb(234, 235, 236);
  padding: 10px;
  text-align: center;
  margin: 15px 10px 50px 10px;
  
  
}
.datatitletext{
 font-weight: bold;
 font-family: 'Times New Roman', Times, serif;
}
.childdataoftheader{
  display: flex;
  justify-content: space-between;

}
.itemsinsideone{
  border-bottom: rgb(153, 147, 147);
  
}
.itemdescription{
  font-size: 16px ;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
   padding: 15px 0px 5px 0px;
}
.itemcardname{
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0;
  
}
 .itemcardprice{
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0;
  

 }
.divofnameprice{
  padding-top: 25px;
  display: flex;
  align-items: flex-start;

  z-index: 10;
 
  
}
.itemimage{
  height: 100px;
  width: 160px;
  text-align: right;
  border-radius: .5rem;
  position: relative;
  z-index: 2;
   
}
.divofpimage{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(194, 190, 190);
  position: relative;
}
.btnofitem{
  position: absolute;
  background-color: white;
  color: green;
  padding: 5px 10px;
  border-radius: .3rem;
   z-index: 5;

}
.divisimgbtn{
  position: relative;
  height: 120px;
  width: 150px;

}
.RestaurentContainer{
  
  width:935px ;
  
  margin: auto;
   
}
 
 